.details-bg-container {
  min-height: 100vh;
  /* background-color: green; */
  width: 100%;
}
.details-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.details-main-content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex-grow: 1;
  list-style-type: none;
}
.banner-holder-section {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url('https://res.cloudinary.com/dmhszvxi1/image/upload/v1681284999/Tasty_Kitchens/restaurants_details_banner_bg_img_mtpfgr.png');
  background-size: auto;
  /* width: 100%; */
  /* max-width: 1440px; */
  /* margin-inline: auto; */
}
.details-banner-section {
  margin-top: 16px;
  grid-column: 2 / span 10;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  /* background-color: red; */
  background-repeat: repeat;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20px 0;
}
.test-container {
  display: flex;
  align-items: center;
}
.banner-inner-container {
  grid-column: 1 / span 10;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}
.banner-title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 12px;
}
.banner-common-typo {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 8px;
}
.review-container {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 8px;
  /* background-color: green; */
}
.review-rating-container {
  border-right: 1px solid #fff;
  padding-right: 32px;
}
.review-cost-container {
  padding-left: 32px;
}
.banner-star-icon {
  margin-right: 8px;
}
.review-medium-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
}
.review-smaller-text {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #e2e8f0;
  margin-top: 8px;
}

.banner-img-container {
  /* grid-column: 2 / span 4; */
  /* width: 445px; */
  /* max-width: 445px; */
  max-height: 280px;
  margin-right: 30px;
  object-fit: cover;
}
.banner-img-mobile-container {
  display: none;
}
.banner-image {
  width: 100%;
  max-height: 280px;
  border-radius: 8px;
}
.details-restaurants-section {
  margin: 50px 0;
  grid-column: 2 / span 10;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.foodDetails-list-card-img {
  height: 150px;
  width: 255px;
  border-radius: 5px;
  margin-right: 30px;
}

.foodDetails-li-container {
  display: flex;
  align-items: center;
}
.foodDetails-list-rating-container {
  display: flex;
  align-items: center;
}

.foodDetails-list-card-title {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #334155;
  margin-bottom: 8px;
}

.foodDetails-list-card-cuisine {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
  margin-bottom: 8px;
}
.foodDetails-list-add-btn {
  border: 2px solid #ffa412;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffa412;
}

.foodDetails-ul-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  list-style-type: none;
}

@media all and (max-width: 1080px) and (min-width: 769px) {
  .foodDetails-ul-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .foodDetails-list-card-img {
    height: 120px;
    width: 160px;
    border-radius: 5px;
    object-fit: inherit;
  }
  .foodDetails-list-card-title {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-bottom: 4px;
  }

  .foodDetails-list-card-cuisine {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 4px;
  }
  .foodDetails-list-add-btn {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 6px 12px;
  }
  .foodDetails-list-rating-container {
    margin-bottom: 4px;
  }
}
@media all and (max-width: 768px) {
  .foodDetails-ul-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .banner-img-container {
    /* display: none; */
  }
  /* .details-banner-section {
    margin-top: 16px;
    grid-column: 6 / 12;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    background-color: red;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 20px 0;
  }
  .banner-holder-section {
    position: relative;
    overflow: hidden;
  }
  .banner-typo-container {
    z-index: 1;
  }
  .banner-inner-container {
    justify-content: flex-end;
  } */
  .banner-img-mobile-container {
    display: inline-block;
    clip-path: circle();
    position: absolute;
    /* transform: translate(-155px, -45px); */
    transform-origin: 50% 50%;
    top: -100px;
    left: -130px;
  }
  .banner-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
  }
  .banner-common-typo {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin-bottom: 8px;
  }
  .review-container {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 8px;
    /* background-color: green; */
  }
  .review-rating-container {
    border-right: 1px solid #fff;
    padding-right: 16px;
  }
  .review-cost-container {
    padding-left: 16px;
  }
  .banner-star-icon {
    margin-right: 8px;
  }
  .review-medium-text {
    font-size: 12px;
  }
}

@media all and (max-width: 500px) {
  .foodDetails-ul-container {
    gap: 16px;
  }
  .foodDetails-list-card-img {
    height: 110px;
    width: 160px;
    border-radius: 5px;
    object-fit: fill;
  }
  .foodDetails-list-card-title {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-bottom: 4px;
  }

  .foodDetails-list-card-cuisine {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 4px;
  }
  .foodDetails-list-add-btn {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 6px 12px;
  }
  .foodDetails-list-rating-container {
    margin-bottom: 4px;
  }
}

@media all and (max-width: 500px) {
  .details-banner-section {
    grid-column: 1 / span 12;
    width: 100%;
    /* background-color: green; */
  }
  .banner-img-container {
    /* background-color: red; */
    width: 100%;
    margin-right: 15px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-image {
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
  }
  .banner-inner-container {
    /* background-color: rebeccapurple; */
    padding: 0;
    grid-column: 1 / span 12;
  }
  .test-container {
    display: flex;
    /* background-color: #ffa412; */
    align-items: stretch;
  }
  .banner-typo-container {
    /* background-color: aqua; */
    margin-right: 8px;
  }
}

.details-banner-section {
  /* margin-top: 16px;
  grid-column: 1 / span 12;
  width: 100%;
  margin-inline: auto;
  background-image: url('https://res.cloudinary.com/dmhszvxi1/image/upload/v1681284999/Tasty_Kitchens/restaurants_details_banner_bg_img_mtpfgr.png');
  background-size: cover;
  background-repeat: repeat;
  height: 344px;
  padding: 32px 0; */

  /* max-width: 1440px; */
  /* min-height: 188px; */
  /* max-height: 344px; */
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
}

.banner-inner-container {
  /* width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px; */

  /* grid-column: 2 / span 10; */
  /* display: flex;
  align-items: center; */
  /* padding: 32px 0; */
  /* background-color: red; */
}

.details-banner-section {
  /* margin-top: 16px;
  grid-column: 1 / span 12;
  width: 100%;
  
  margin-inline: auto;
  background-image: url('https://res.cloudinary.com/dmhszvxi1/image/upload/v1681284999/Tasty_Kitchens/restaurants_details_banner_bg_img_mtpfgr.png');
  background-size: auto;
  background-repeat: repeat;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: green;
  padding: 20px 0; */

  /* max-width: 1440px; */
  /* background-position: center; */
  /* height: 344px; */
}
