.login-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.login-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;

  letter-spacing: 0.01em;
}
.login-input-ele {
  min-width: 80%;
  /* width: 360px; */
  max-width: 100%;
  min-height: 40px;
  padding: 4px 10px;
  background-color: #e2e8f0;
  border: none;
  outline: none;
}
.login-btn {
  width: 100%;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 8px 16px;
  background-color: #f7931e;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.login-error-msg {
  color: #ef4444;
  font-size: 14px;
  line-height: 18.23px;
  margin-top: 12px;
  font-weight: 400;
}
