.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #0f172a;
  color: #fff;
  padding: 52px 0;

  font-family: DM Sans;
}
.footer-website-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.footer-website-logo {
  margin-right: 16px;
}
.social-icons {
  font-size: 48px;
  margin-inline: 26px;
  margin-top: 32px;
}
.footer-logo-title {
  font-family: DM Sans;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.footer-typo {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .footer-website-logo {
    height: 32px;
    width: 40px;
  }
  .footer-logo-title {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .footer-typo {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
  .social-icons {
    font-size: 24px;
    margin-inline: 16px;
    margin-top: 32px;
  }
}
